n8n-crypto-tracker/workflow.json
{
  "name": "Crypto Price Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum,cardano,xrp&vs_currencies=usd",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "timestamp",
              "value": "={{$now}}"
            },
            {
              "name": "bitcoin",
              "value": "={{$json[\"bitcoin\"][\"usd\"]}}"
            },
            {
              "name": "ethereum",
              "value": "={{$json[\"ethereum\"][\"usd\"]}}"
            },
            {
              "name": "cardano",
              "value": "={{$json[\"cardano\"][\"usd\"]}}"
            },
            {
              "name": "xrp",
              "value": "={{$json[\"xrp\"][\"usd\"]}}"
            }
          ]
        }
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": "Crypto Prices",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$json[\"timestamp\"]}}",
            "bitcoin": "={{$json[\"bitcoin\"]}}",
            "ethereum": "={{$json[\"ethereum\"]}}",
            "cardano": "={{$json[\"cardano\"]}}",
            "xrp": "={{$json[\"xrp\"]}}"
          }
        }
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "path": "crypto-prices",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [1050, 300],
      "webhookId": "crypto-prices"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
